.search-box {
    -webkit-appearance: none;
    -moz-appearance: none; /* Vendor-prefixed property for Mozilla browsers */
    appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  